---
import { SITE_DATA } from '../data/site';

interface Props {
  title: string;
  description?: string;
  image?: string;
  type?: string;
}

const {
  title,
  description = SITE_DATA.description,
  image = '/og.png',
  type = 'website',
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const jsonLD = {
  '@context': 'https://schema.org',
  '@type': 'Person',
  name: SITE_DATA.realName,
  url: Astro.site,
  image: new URL('/og.png', Astro.site),
  sameAs: SITE_DATA.socials.map((social) => social.url),
  jobTitle: 'Software Engineer',
  address: {
    '@type': 'PostalAddress',
    addressLocality: 'Cebu',
    addressCountry: 'Philippines',
  },
  email: SITE_DATA.email,
  description: SITE_DATA.description,
};
---

<!-- SEO -->
<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />
<meta
  name="keywords"
  content="Geri Gian Epanto, giann., Software Engineer, Cebu, Philippines, Web Developer"
/>

<!-- Open Graph -->
<meta property="og:type" content={type} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.site)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.site)} />

<!-- JSON-LD -->
<script is:inline type="application/ld+json" set:html={JSON.stringify(jsonLD)} />
